body {
    background-color: blanchedalmond;
}

li {
    width: 150px;
    display: inline-block;
    border: 1px solid purple;
    margin: 10px;
    text-align: center;
}

h2 {
    font-size: 1em;
}

img {
    width: 100%;
}

p {
    font-size: .8em;
    margin: 0;
}