body {
    background-color: blanchedalmond;
}
ul {
    display: flex;
    flex-flow: row wrap;
}
li {
    width: 100px;
    display: inline-flex;
    border: 1px solid purple;
    margin: 5px;
    text-align: center;
    height: 150px;
    flex-flow: column wrap;
    justify-content: space-between;
}

h2 {
    font-size: 1em;
    margin: 0;
}

img {
    width: 100%;
}

p {
    font-size: .6em;
    margin: 0;
}